 <div>
  <Button title="New Alert" value="alert" onClick={ e => this.alert.show("Custom alert text", { type: e.currentTarget.value }) } />
  <Button title="New Warning" value="warning" onClick={ e => this.alert.show(e.currentTarget.title, { type: e.currentTarget.value}) } />
  <Button title="New error" value="error" onClick={ e => this.alert.show(e.currentTarget.title, { type: e.currentTarget.value}) } />
  <Button title="New success" value="success" onClick={ e => this.alert.show(e.currentTarget.title, { type: e.currentTarget.value}) } />
  <Alert ref={ a => this.alert = a } />
</div>
